
.footer {
	margin: auto;
	position: relative;
	padding: 20px 0px;
	background-color:#000000;
	.footer-left{
		height: 48px;
		float:left;
		.footer-logo{
		}
		a{
			display: inline-block;
			margin: auto;
		}
	}
	.footer-right {
		z-index: 2;
		height: 48px;
		.footer-social{
			float:right;
			padding-top: 5px;
			li {
				display: inline-block;
				border: 1px solid;
				border-color:white;
				border-radius: 100%;
				list-style-type: none;
				width: 35px;
				height: 35px;
				margin-left: 5px;
				a{
					font-size: 20px;
					color:white;
					padding:2px;
					text-decoration: none;
					display: list-item;
					text-align: center;
				}
				&:hover{
					border-color:#32AAE1;
					transition: 0.4s;
					a{
						color: #32AAE1;
					}
				}
			}
		}
	}
}