* {
    margin: 0px;
    padding: 0px;
}
a:hover {
    text-decoration: none;
}
body {
    background-color: inherit;
}
.footer {
    width: 1349px;
    height: 108px;
    margin: auto;
    .row {
        position: relative;
        top: 30px;
    }
    background-color:#000000;
    .footer-left {
        height: 48px;
        float: left;
        .footer-logo {
            margin-left: 100px;
        }
        a {
            display: inline-block;
            margin: auto;
        }
    }
    .footer-right {
        z-index: 2;
        height: 48px;
        .footer-social {
            float: right;
            margin-right: 100px;
            li {
                display: inline-block;
                border: 1px solid;
                border-color: white;
                border-radius: 100%;
                list-style-type: none;
                a {
                    i:hover {
                        border-color: blue;
                    }
                    font-size: 20px;
                    color:white;
                    padding:2px;
                    text-decoration: none;
                    margin-right: 8px;
                }
            }
            li:hover {
                border-color: blue;
                transition: 0.4s;
            }
        }
    }
    row {
        height: 48px;
    }
}
.top-banner-bg1 {
    background: url(http://html.crunchpress.com/materialmag/images/topbannerbg1.jpg);
    height: 250px;
    .inner-title {
        text-align: center;
        margin-top: 80px;
        h1 {
            color: white;
            font-size: 36px;
            font-weight: 500;
        }
        .breadcrumb {
            a {
                color: white;
            }
            li {
                color: white;
            }
            margin-top: 25px;
            background-color: inherit;
        }
    }
}
.maincontent {
    .content {
        line-height: 50px;
        li {
            button {
                float: right;
                margin-top: 30px;
                padding: 10px;
                background-color: #32AAE1;
                height: 41px;
                line-height: 41px;
                padding: 0 25px;
                border-radius: 2px;
                color: white;
            }
            button:hover {
                color: black;
                transition: 0.4s;
            }
            list-style-type: none;
        }
        .input-group {
            .material-input {
                textarea {
                    height: 120px;
                    border: none;
                    border-left: 1px solid #CCCCCC;
                }
                .input-box {
                    border: none;
                    border-left: 1px solid #CCCCCC;
                    border-radius: 0px;
                }
            }
            .input-group-addon {
                background-color: inherit;
                border: none;
            }
            //margin-top: 20px;
            border-bottom: 1px solid #CCCCCC;
            padding: 20px 0;
        }
    }
    padding: 50px 0;
}
.contact-info {
    ul {
        li {
            p {
                line-height: 24px;
                padding-left: 27px;
                font-size: 14px;
                font-family: 'Roboto', sans-serif;
            }
            display: flex;
            list-style-type: none;
            padding: 13px 0 17px;
            color: #888888;
            border-bottom: 1px solid #cccccc;
        }
    }
}
.toggle-map {
    height: 120px;
    margin-top: 50px;
    line-height: 120px;
    text-align: center;
    background-color: #32AAE1;
    .btn.btn-primary:after {
        content: "\f107";
        font-family: FontAwesome;
        height: 26px;
        width: 26px;
        text-align: center;
        line-height: 26px;
        background: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 3px rgba(0, 0, 0, .23);
        color: #0f0f0f;
        display: inline-block;
        margin-left: 20px;
    }
    .btn.btn-primary {
        background-color: inherit;
        border: none;
        i {
            font-size: 40px;
            text-shadow: 0 2px 3px rgba(0, 0, 0, .23);
            margin-right: 20px;
        }
        font-size: 18px;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
        line-height: 40px;
        outline: none;
    }
}
.map {
    display: none;
}


.flexslider {
    width: 360px;
    height: 250px;
}
.sidebar-featured-post {
    width: 360px;
    float: left;
    clear: both;
    margin-bottom: 40px;
    .slides {
        width: 360px;
        height: 280px;
        .item {
            img {
                width: 360px;
                height: 280px;
            }
            position: relative;
            width: 360px;
            height: 280px;
        }
        .flex-caption {
            width: 96%;
            padding: 2%;
            left: 0;
            bottom: 0;
            background: rgba(0, 0, 0, .5);
            color: #fff;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
            font-size: 14px;
            line-height: 18px;
        }
    }
    .catname {
        position: absolute;
        top: -11px;
    }
    .btn-orange {
        background-color: #ff5722;
        display: block;
        font: 900 14px/30px "Roboto", sans-serif;
        height: 30px;
        padding: 0 15px;
        a {
            text-decoration: none;
        }
        a:hover {
            text-decoration: none;
        }
    }
    .cp-post-content {
        position: absolute;
        bottom: 0px;
        left: 0;
        background: rgba(0, 0, 0, .80);
        padding: 28px 20px 20px;
        width: 100%;
    }
}
.custom-navigation {
    text-align: center;
    display: flex;
    .cus {
        i {
            border: 1px solid #F3F3F3;
            border-radius: 4px;
            color: #565656;
            padding: 7px;
            box-shadow: 0 0 3px rgba(0, 0, 0, .20);
        }
        width: 360px;
        margin: auto;
        margin-top: -16px;
    }
}
.side-title {
    font: 700 18px/23px 'Roboto', sans-serif;
    text-transform: uppercase;
    margin: 0 0 20px;
    padding-left: 10px;
    border-left: 5px solid #32aae1;
    color: #222222;
}
.slider {
    position: absolute;
    top: -5px;
}

.detail-slider{
    height: 600px; 

    .slider {
            margin-top: 0px !important;
        width: 750px;
         height: 600px; 
         .flexslider{
            .cp-post-content{
                    float: left;
    position: relative;
    clear: both;
    p{
        margin-top: 16px;
    }

    h3{
         a:hover{
    
    color: #8BCFEE;
    transition: 0.6s;
    }
    font: 500 20px/20px 'Roboto', sans-serif;
    text-transform: uppercase;
    margin: 16px 0 9px 0;
    a{
        color: black;
    }
    }

    ul {

    margin: 10px 0 0;
    padding: 0px;
    width: 100%;
    clear: both;
    li{
        padding-right:15px;
        display: inline-block;
        margin-top: 17px;
    }
   
    }
            }

        width: 750px;
         height: 600px; 
         ul {
            li{
                 img {
                height: 420px;     
    }
            }
         }
         
    }
    }
    width: 750px;

   .cp-readmore.waves-effect.waves-button{
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    color: #222;
    box-shadow: 0 0px 4px rgba(0,0,0,.22);
    border-radius: 2px;
    line-height: 40px;
    display: inline-block;
    padding: 0 25px;
    margin-top: 20px;
    }
    .cp-readmore.waves-effect.waves-button:hover{
         color: #8BCFEE;
        transition: 0.4s;
    }
    img.zoom:hover {
    cursor: pointer;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s;
    opacity: 0.5;
 
}
}


.deatail-image{ 
    li {
        list-style-type: none;
    }
     .cp-thumb .ground {
        transition: 0.4 !important ;
        opacity: 0 ;
        display: block;
        width: 750px;
        height: 420px;
        background-color: #242522;
        position: absolute;
        z-index: 2;
        top:0px;        
        background: -webkit-linear-gradient(top, rgb(47, 43, 43) 50%, rgba(153,153,169,0.29) 100%);
}
 .ground:hover {
       
       opacity: 0.5 ;
       cursor: pointer;
           transition: 0.4s;

}
  .ground:hover .image-thump{
         -webkit-transform: scale3d(1.2, 1.2, 1);
          transform: scale3d(1.2, 1.2, 1);

}
    .cp-thumb {
        position: relative !important;
        .image-thump{
        width: 750px;
        height: 420px;
        }
        
        .cp-fullwidth-news-post-excerpt{       
        margin-top: 50px;
        list-style-type: none;
    }
   

    }
    
    .cp-post-content { 
        .cp-readmore.waves-effect.waves-button {
            color: black;
            display: inline-block;
            padding: 25px;
            font-size: 17px;
        }      
        .cp-readmore.waves-effect.waves-button:hover {
            color: #8BCFEE;
            transition: 0.4s;
        }    
         img.image-thump:hover{
            color: #8BCFEE;
            transition: 0.4s;
            cursor: pointer;
        }
        img.image-thump{
            margin-top: 10px;
            font-size: 15px;
            font-weight: 400;
            text-transform: uppercase;
            color: #222;
            box-shadow: 0 0px 4px rgba(0,0,0,.22);
            border-radius: 2px;
            line-height: 40px;
            display: inline-block;
            padding: 0 25px;
        }
        p{
            margin-top: 16px;
        }
        ul {
                margin-top: 15px;
                display: flex;
            li{
                list-style-type: none;
                margin-right: 15px;

            }
        }
        h3{
            margin-top: 15px;
            a {
                color: black;

            }
            a:hover{
                color: #8BCFEE;
                transition: 0.4s;
            }
        }
    }
    width: 750px;
    height: 400px;
}
